* {
	margin: 0;
	padding: 0;
	border: 0.001px solid greenyell;
}

header {
	background-color: black;
	justify-content: space-around;
	display: flex;
	position: fixed;
	width:  100%;
	z-index: 9999999;
	height: 16%;

}
nav ul {
	display: flex;
	list-style: none;
	justify-content: space-between;
	line-height: 50px;
	float: right;
	padding: 25px 0 0 0;
}
nav ul li {
		display: inline-block;
		margin: 0 5px;
}
nav ul li a {
	font-family: 'Bebas Neue', serif;
	text-decoration: none;
	font-size: 2em;
	letter-spacing: 1.5px;
	color: rgb(250, 52, 0);
	display: block;
	text-align: center;
}
nav ul li a:hover {
	color: #fc8151;
	justify-content: center;
	display: block;
	display: flex;
}
nav ul li .dropdown {
	display: none;
	text-align: center;

}
nav ul li:hover .dropdown {
	display: block;
	position: absolute;
	background-color: black;
	text-align: center;
}
nav ul li:hover .dropdown li {
	display: block;
	height: 58px;
	width: 130px;
	text-align: center;
	margin-top: -20px;
}
main, footer {
	position: relative;
	top: 95px;
}
#content{
	background-color: black;
}

.sinopsis {
	padding: 45px 60px;
	z-index: 3;
	color: #FFFEFD;
	text-align: center;
	font-family: 'Rubik', sans-serif;
	font-size: 1.3em;
	}
}
.wallpaper {
	position: absolute;
}
.buat-float {
	display: flex;
	justify-content: space-between;
	z-index: 999999;
	margin-top: -870px;
}
.bagian1-kiri {
	width: 60%;
}
.articlesatu {
	padding: 20px 10px;
	width: 50%;
	position: relative;
}
article h1 {
	text-decoration: underline;
}
article h1, article h2 {
	font-family: 'Playfair Display', serif;
	z-index: 5;
	color: whitesmoke;
	font-size: 1.9em;
}
article a {
	color: #CE2504;
	text-decoration: none;
	font-size: 1.6em;
}
.articledua {
	width: 100%;
	text-align: justify;
	padding: 10px 10px;
	color: white;
	font-family: 'Rubik', sans-serif;
	font-size: 1.1em;
}
aside img {
	background-color: white;
}

aside img:hover {
	opacity: 0.7;
}
aside #menu {
display: none;
}
aside:active #menu {
	cursor: pointer;
	display: block;
	width: 250px;
	color: white;
	font-family: 'Rubik', sans-serif;
	text-align: center;
	justify-content: center;
	background-color: black;
	height: 380px;
	position: relative;
	z-index: 4957454;
	transition: all ease-in-out 200ms;
	-webkit-transition: all ease-in-out 200ms;
}
aside nav .rapihin {
	width: 245px;
	flex-flow: column;
}

 .casts {
 	display: block;
	color: white;
	display: flex;
	padding: 5px 0;
}
.casts ul {
	width: 50%;
	list-style: none;
	font-size: 1.1em;
	font-family: sans-serif;
}
footer {
	position: relative;
	background-color: black;
	color: white;		
	padding: 10px 20px ;
text-align: justify;
font-size: 1em;
font-family: 'Rubik', sans-serif;
display: block;
}

@media only screen and (min-width: 320px) and (max-width: 480px){
	header {
		padding: 10px 0;
	}
	.netflix {
		display: none;
	}
	.stranger {
		width: 65px;
		height: 35px;
		margin-top:35px ;
	}
header nav ul {
	width: 150px;
	font-size: 0.5em;
}
header nav ul li .dropdown {
	width: 135px;
}
.dropdown li {
width: 50px;
font-size: 2em;
}
.sinopsis {
	font-size: 1em;
}
.articlesatu {
	font-size: 0.5em;
}
.articledua {
	font-size: 0.7em;
}
aside:active #menu{
width: 150px;
height: 300px;
}
aside nav .rapihin {
	font-size: 0.8em;
	text-align: center;
width: 150px;
margin-top: -30px;
}
footer {
	font-size: 0.7em;
	background-color: transparent;
}
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
header {
	padding: 20px 0;
}
.bagian1-kiri {
	width: 800px;
	display: flex;
}
.articlesatu {
	font-size: auto;
}
footer {
	background-color: transparent;
}
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
header {
	padding: 20px 0;
}
.bagian1-kiri {
	width: 800px;
	display: flex;
}
footer {
	background-color: transparent;
}
}
@media only screen and (min-width: 992px) and (max-width: 1020px){
header {
	padding: 20px 0;
}
.buat-float {
display: flex;
}

.articlesatu {
	width: 100%;
}
.bagian1-kiri {
	width: 800px;
	display: flex;
}
.articledua {
 	font-size: 1.2em;
 	width: 800px;
}
}